USE [master]
GO
/****** Object:  Database [pil]    Script Date: 31/08/2019 01:01:04 p.m. ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'pil')
DROP DATABASE [pil]
GO
/****** Object:  Database [pil]    Script Date: 31/08/2019 01:01:04 p.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'pil')
BEGIN
CREATE DATABASE [pil]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pil', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\pil.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'pil_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\pil_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pil].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
